<section class="hero is-link is-large">
  <div class="hero-body has-text-centered">
    <div class="content">
      <div class="columns">
        <div class="column" *ngIf="innerWidth > 1200">
          <img class="cloud-2" src="../../../assets/pluto-84.png" alt="">
        </div>
        <div class="column">
          <p class="title">
            Wetterballon
          </p>
          <p class="subtitle">
            Abschlussprojekt BLJ 2021
          </p>
          <button class="button is-danger is-rounded">
            <fa-icon [icon]="faRecordVinyl" class="icon is-small is-left"> </fa-icon>
            <span>Participate Live</span>
          </button>

        </div>
        <div class="column" *ngIf="innerWidth > 1200">
          <img class="cloud-1" src="../../../assets/pluto-94.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-medium">
    <h1 class="title">Latest Posts</h1>
    <h2 class="subtitle">
      Here are the  <strong>latest</strong> posts from our Blog.
    </h2>
    <div class="columns latest-blogs">
      <app-blog-card [blogEntry]="item" *ngFor="let item of items | async | slice:0:3;">
      </app-blog-card>
    </div>
  <div class="more-posts">
    <button class="button is-link" (click)="router.navigateByUrl('/blog')">More Posts</button>
  </div>
  <div class="about content" id="about">
    <p class="title">
      About the Project
    </p>
    <div class="box">
      <h2>Projectidea</h2>
      <p>In unserem Projekt im Basislehrjahr arbeiten wir an einem Wetterballon, den wir in die Stratosphäre steigen lassen werden. Auf der Webseite zeigen wir unsere ausgewerteten Messwerte, die wir während dem Flug aufzeichnen werden. Zudem wird während dem Projekt jeden Tag ein Blogeintrag erstellt, auf dem wir unseren Projektstand aufzeigen.
        Auch werden wir hier unser Making Of Video und unser Video zu dem Flugtag hochladen.</p>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <fa-icon [icon]="faCode" class="icon is-small is-left"> </fa-icon>  with <fa-icon [icon]="faHeart" class="icon is-small is-left"> </fa-icon> by <a href="https://instagram.com/bachmannerin">Erin</a> and <a href="https://instagram.com/bachmannerin">Joshua</a>
    </p>
  </div>
</footer>

