<section class="hero is-link is-medium" xmlns:https="http://www.w3.org/1999/xhtml">
  <div class="hero-body has-text-centered">
    <div class="content">
      <div class="columns">
        <div class="column" *ngIf="innerWidth > 1200">
          <img class="cloud-2" src="../../../assets/pluto-84.png" alt="">
        </div>
        <div class="column">
          <p class="title">
            Flyneat
          </p>
          <p class="subtitle">
            Abschlussprojekt BLJ 2021
          </p>
          <button class="button is-danger" (click)="videoDialog()">
            <span class="icon">
              <fa-icon [icon]="faVideo"> </fa-icon>
            </span>
            <span>Video vom Flug</span>
          </button>
        </div>
        <div class="column" *ngIf="innerWidth > 1200">
          <img class="cloud-1" src="../../../assets/pluto-94.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section is-medium">
    <h1 class="title">Latest Posts</h1>
    <h2 class="subtitle">
      Here are the  <strong>latest</strong> posts from our Blog.
    </h2>
  <div class="columns is-multiline latest-blogs" >
    <div class="column is-one-third" *ngFor="let item of items | async | slice: 0 : 3;">
      <app-blog-card [blogEntry]="item"></app-blog-card>
    </div>
  </div>
  <div class="more-posts">
    <button class="button is-link" (click)="router.navigateByUrl('/blog')">More Posts</button>
  </div>
  <div class="about content" id="about">
    <p class="title">
      About the Project
    </p>
    <div class="box">
      <h2 class="">Projectidea</h2>
      <p class="text">Das Projekt Sputnik 2 ist ein Projekt, welches uns viel bedeutet. Es ist unser letztes Projekt, welches wir in der Super zeit im Basislehrjahr zusammen bewältigt werden. Die Idee ist es, dass wir ein sogenannten Wetterballon von Grund aus aufbauen und ihn dann steigen lassen. Während dem Flug sammeln mehrere verschiedene Sensoren Daten. Der Flug wird auch von Zwei Kameras aufgenommen und am Schluss zu einem Film zusammengeschnitten. Zusätzlich wird der Ballon per GPS die ganze Zeit über verfolgt. Das Ziel beim ganzen Projekt ist es, dass der Wetterballon in die Stratosphäre gelangt und wir ihm beim Landen wiederfinden per GPS-Signal. Zusätzlich sollen die gesammelten Daten ausgewertet, dokumentiert und auf der Webseite dargestellt werden.</p>
      <h2 class="">Arbeitsverteilung</h2>
      <h3 class="has-text-link">Website</h3>
      <p class="">Erin Bachmann, Luzerner Kantonalbank </p>
      <ul>
        <li>Website Erstellen</li>
        <li>Website betreuen</li>
        <li>Managen der Blog-Einträge</li>
        <li>Daten auswerten und aufbereiten</li>
        <li>Statistiken erstellen</li>
      </ul>
      <h3 class="has-text-link">Hardware</h3>
      <p class="">Marvin Purtschert, CALIDA</p>
      <p class="">Darvin Windlin, MAXON</p>
      <ul>
        <li>Sonde bauen</li>
        <li>Beschaffung von Bauteilen</li>
        <li>Sonde Innentemperatur testen</li>
        <li>Sonde Falltest durchführen</li>
      </ul>
      <h3 class="has-text-link">Technology</h3>
      <p class="">Joshua Odermatt, CSS Versicherung</p>
      <p class="">Moritz Wicki, CSS Versicherung</p>
      <ul>
        <li>Hardware beschaffen</li>
        <li>Hardware testen</li>
        <li>Software erstellen</li>
        <li>GPS tracking</li>
        <li>Software testen</li>
      </ul>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <fa-icon [icon]="faCode" class="icon is-small is-left"> </fa-icon> by <a href="https://instagram.com/bachmannerin">Erin</a> and <a href="https://instagram.com/bachmannerin">Joshua</a>
    </p>
  </div>
</footer>

