p {
  color: black;
  font-size: 20px;
}

.hearth{
  color: red;
}

.no-br{
  white-space: nowrap;
}

.content{
  height: 100%;
}

img{
  width: 30%;
  margin-bottom: 10px;
}
.text{
  white-space: pre-wrap;
}

.content {
  margin-top: 50px;
  color: black;
}


.block {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

h1 {
  font-size: 40px;
}

@media screen and (max-width: 1000px) {
  img {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  img {
    width: 70%;
  }
}
