.latest-blogs{
  margin-top: 30px;
}

.like {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin-left: 10%;
}

.about{
  margin-top: 70px;
}

.more-posts{
  text-align: center;
}

.positive {
  color: red;
}

.negative {
  color: black;
}

.hover{
  cursor: pointer;
}
.card{
  width: 100%;
  display: flex;
  flex-direction: column;
}
