<section class="hero is-link">
  <div class="hero-body has-text-centered">
    <p class="title">
      Stats
    </p>
    <p class="subtitle">
      Collected data of the flight
    </p>
  </div>
</section>
<div class="box">
  <div class="columns">
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <canvas id="bar" width="400" height="400"></canvas>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Bar-Chart</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <canvas id="line" width="400" height="400"></canvas>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Line-Chart</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <canvas id="radar" width="400" height="400"></canvas>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Radar-Chart</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <canvas id="bubble" width="400" height="400"></canvas>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Bubble-Chart</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
