<section class="hero is-link">
  <div class="hero-body has-text-centered">
    <p class="title">
      Stats
    </p>
    <p class="subtitle">
      Collected data of the flight
    </p>
  </div>
</section>
<div class="box">
  <div class="columns">
    <div class="column"></div>
    <div class="column is-half ">
      <div class="card">
        <div class="card-image">
          <div class="chart-container">
            <canvas  id="time_height" ></canvas>
          </div>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Zeit-Höhe</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column"></div>

  </div>


  <div class="columns">
    <div class="column"></div>
    <div class="column is-half ">
      <div class="card">
        <div class="card-image">
          <div class="chart-container">
            <canvas  id="time_temp" ></canvas>
          </div>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Zeit-Themperatur</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>

  <div class="columns">
    <div class="column"></div>
    <div class="column is-half ">
      <div class="card">
        <div class="card-image">
          <div class="chart-container">
            <canvas  id="time_humidity" ></canvas>
          </div>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Zeit-Luftfeuchtigkeit</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>

  <div class="columns">
    <div class="column"></div>
    <div class="column is-half ">
      <div class="card">
        <div class="card-image">
          <div class="chart-container">
            <canvas  id="time_pressure" ></canvas>
          </div>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Zeit-Luftdruck</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>

</div>
